:root {
    --bg: #1B2733;
    --text: #dfdfdf;
    --accent: #2C3642;
    --radius: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    line-height: 1.6;
    padding: 2rem;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;

    background-image:
        linear-gradient(to right, rgba(242, 240, 240, 0.25) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(245, 239, 239, 0.25) 1px, transparent 1px);

    background-size: 45px 45px;

    mask-image: radial-gradient(circle at center, 
        rgb(255, 255, 255) 0%, 
        rgba(255, 255, 255, 0.4) 40%, 
        transparent 70%
    );
    -webkit-mask-image: radial-gradient(circle at center,
        rgb(255, 255, 255) 0%, 
        rgba(242, 239, 239, 0.4) 40%, 
        transparent 70%
    );
}

header {
    max-width: 900px;
    margin: 0 auto 1rem auto;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2rem;
}

.header-text {
    text-align: left;
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        text-align: center;
    }
}

header h1 {
    font-size: clamp(2rem, 6vw, 2.5rem);
    margin-bottom: 0.5rem;
}

header p {
    font-size: clamp(1rem, 2.3vw, 1rem);
    opacity: 0.75;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    max-width: 900px;
    margin: auto;
}

.card {
    background: var(--bg);
    padding: 2.25rem;
    border-radius: 1.5rem;
    border-color: #4b596c;
    border-style: solid;
    border-width: 0.05rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
}

a.button {
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 5rem;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #969A9D;
    background: var(--bg);
    color: #969A9D;
    text-decoration: none;
    font-weight: 500;
    margin-top: 1rem;
}

a {
    text-decoration: underline;
    color: var(--text);
}

a.button:hover {
    opacity: 0.9;
    border-color: var(--text);
    color: var(--text);
}

footer {
    text-align: center;
    margin-top: 3rem;
    opacity: 0.6;
    font-size: 0.9rem;
}
