:root {
    --bg: #32302f;
    --card: #0b1f22;
    --text: #c5c5c5;
    --text-soft: #959595;
    --accent: #504945;
    --accent-hover: #62605a;
    --green: #c2c144;
    --blue: #74b0b3;
    --purple: #c982a2;
    --radius: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 100 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2)
        format("woff2-variations");
}

body {
    background: linear-gradient(to top, #0b1f22 0%, #163a3d 100%);
    color: var(--text);
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;
    line-height: 1.6;
    padding: 2rem;
    margin: 0;
    min-height: 100vh;
}

header {
    flex-direction: column;
    text-align: center;
}

.header-text {
    text-align: center;
    color: var(--text);
}

header h1 {
    font-size: clamp(2rem, 6vw, 1.5rem);
    margin-bottom: 0.5rem;
    color: var(--green);
}

h2 {
    color: var(--blue);
}

h3 {
    color: var(--purple);
}

header p {
    font-size: clamp(1rem, 2.3vw, 1rem);
    opacity: 0.75;
}

.date {
    color: var(--text-soft);
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    max-width: 900px;
    margin: auto;
}

.card {
    background: var(--card);
    padding: 2.25rem;
    border-radius: 1.5rem;
    border-color: var(--accent);
    border-style: solid;
    border-width: 0.15rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}

.interest-list {
    margin-left: 1em;
}

.card:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: all 0.25s ease;
    border-color: var(--accent-hover);
}

a.button {
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 5rem;
    border-width: 0.05rem;
    border-style: solid;
    color: var(--text-soft);
    text-decoration: none;
    font-weight: 500;
    margin-top: 1rem;
}

a {
    text-decoration: underline;
    color: var(--green);
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 3rem;
    opacity: 0.6;
    font-size: 0.9rem;
    color: var(--text-soft);
}
